<!DOCTYPE html>
<html>
    <head>
        <meta charSet="utf-8"/>
        <title>Calculadora división de cuenta - Calculando Argentina</title>
        <meta name="description" content="Agrega cuanto gasto cada uno y quien paga la cuenta, y mira cuanto le tiene que dar cada uno al que pago. Restaurants, Cafes, Pedidos, etc..."/>
        <meta name="og:title" content="Calculadora división de cuenta - Calculando Argentina"/>
        <meta property="og:image" content="https://calc.markski.ar/logo_small.webp"/>
        <meta property="og:description" content="Agrega cuanto gasto cada uno y quien paga la cuenta, y mira cuanto le tiene que dar cada uno al que pago. Restaurants, Cafes, Pedidos, etc..."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="icon" href="/favicon.png"/>
        <link rel="manifest" href="manifest.json"/>
        <meta name="next-head-count" content="9"/>
        <link rel="preload" href="/_next/static/css/5e49c702069dc93b.css" as="style"/>
        <link rel="stylesheet" href="/_next/static/css/5e49c702069dc93b.css" data-n-g/>
        <noscript data-n-css></noscript>
        <script defer nomodule src="/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js"></script>
        <script src="/_next/static/chunks/webpack-8fa1640cc84ba8fe.js" defer></script>
        <script src="/_next/static/chunks/framework-7a7e500878b44665.js" defer></script>
        <script src="/_next/static/chunks/main-0a9b5d9f75e3dd77.js" defer></script>
        <script src="/_next/static/chunks/pages/_app-4ae27460608a436a.js" defer></script>
        <script src="/_next/static/chunks/pages/cuenta-c7b13e80f8eed88a.js" defer></script>
        <script src="/_next/static/IK8Mnr6DVKFKXp_gZi2U2/_buildManifest.js" defer></script>
        <script src="/_next/static/IK8Mnr6DVKFKXp_gZi2U2/_ssgManifest.js" defer></script>
    </head>
    <body>
        <div id="__next">
            <div style="text-align:left;display:flex;margin:1.5rem auto;width:22rem;user-select:none">
                <img alt="Logo de Calculando Argentina" src="logo_small.webp" style="height:140px;margin-right:1rem"/>
                <a style="text-decoration:none" href="/">
                    <span class="Custom_text_accent__Or_MY" style="font-size:2.5rem;font-weight:700">Calculando Argentina</span>
                </a>
            </div>
            <div class="efectoTransicion">
                <div style="opacity:0;transform:translateX(100px) translateZ(0)">
                    <main>
                        <div class="Custom_siteContainer__Ejpiq">
                            <div style="margin:.5rem 1rem;user-select:none">
                                <h3 class="Custom_text_accent_pink__iONrU">Calculadora división de cuenta</h3>
                            </div>
                            <div class="Custom_flexContainer__KKPM6">
                                <div class="Custom_flexBox__stPMo" style="user-select:none">
                                    <form id="personForm" style="text-align:center">
                                        <h3>Agregar persona</h3>
                                        <label>
                                            Nombre persona<input id="name" type="text" placeholder="Ingresar nombre" min="0" class="Custom_input__Pz_rY" title="Numero con no mas de 2 decimales."/>
                                        </label>
                                        <label>
                                            Gasto de persona<input id="spent" type="number" placeholder="Sin coma ni puntos" step="1" min="0" class="Custom_input__Pz_rY" title="Numero con no mas de 2 decimales."/>
                                        </label>
                                        <label>
                                            <p>
                                                <input id="pays" type="checkbox" class="Custom_checkbox__s5B9_" title="Indica si esta persona paga o no la cuenta."/>Paga la cuenta
                                            </p>
                                        </label>
                                        <input type="submit" class="Custom_input__Pz_rY" value="Agregar persona"/>
                                    </form>
                                </div>
                                <div class="Custom_flexBox__stPMo">
                                    <h2 style="text-align:center">Resultado</h2>
                                    <div>
                                        <p>Se mostrara cuando se agreguen 3 personas</p>
                                    </div>
                                </div>
                                <div class="Custom_flexBox__stPMo" style="user-select:none">
                                    <p class="Custom_smallHeader__0_HuP">Instrucciones</p>
                                    <small>
                                        <p>Esta calculadora es util para dividir gastos a la hora de pedir comida o pagar una cuenta.</p>
                                        <p>Sensillamente agrega persona por persona cuanto gasto cada uno. A quienes pagan la cuenta directamente, marca el campo &quot;Paga la cuenta &quot;.</p>
                                        <p>La cuenta total se divide entre ellas, y a las demas se les dira cuanto le tienen que dar a los que pagaron.</p>
                                    </small>
                                </div>
                                <div class="Custom_flexBox__stPMo" style="flex-basis:49%;flex:2;min-width:15rem;user-select:none">
                                    <p class="Custom_smallHeader__0_HuP">Acerca</p>
                                    <small>
                                        <p>Las calculadoras en esta pagina son 100% gratuitas.</p>
                                        <p>
                                            Si queres, podes <a class="Custom_text_accent_subtle__0V9bw" href="/colaborar">colaborar con su mantenimiento</a>
                                            .
                                        </p>
                                        <p>
                                            Si encontras algun error o tenes sugerencias, podes contactarme por los metodos listados en mi <a href="https://markski.ar" class="Custom_text_accent_subtle__0V9bw">web personal</a>
                                            .
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <a class="Custom_card__rIePp" href="/">
                            <h3 style="margin:0">Volver</h3>
                        </a>
                    </main>
                    <footer>
                        <p>
                            desarrollado por <a href="https://markski.ar" target="_blank" rel="noopener noreferrer" class="Custom_text_accent_subtle__0V9bw">juan geido / markski</a>
                            <br/>
                            aplicación de código abierto. <a href="https://github.com/markski1/Calculadoras" target="_blank" rel="noopener noreferrer" class="Custom_text_accent_subtle__0V9bw">ver en github</a>
                            <br/>
                        </p>
                        <p>
                            <a class="Custom_text_accent_subtle__0V9bw" href="/colaborar">colaborar con calculando argentina</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
        <script id="__NEXT_DATA__" type="application/json">
            {
                "props": {
                    "pageProps": {
                    }
                },
                "page": "/cuenta",
                "query": {
                },
                "buildId": "IK8Mnr6DVKFKXp_gZi2U2",
                "nextExport": true,
                "autoExport": true,
                "isFallback": false,
                "scriptLoader": [
                ]
            }</script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;token&quot;: &quot;2e6492c50f9f4659a9d6f8cd94350355&quot;}"></script>
    </body>
</html>
